

<link {% if section.settings.section_preload == "true" %} href="{{ 'gp-section-516835929734775590.css' | asset_url }}" {% else %} class="gps-link" delay="{{ 'gp-section-516835929734775590.css' | asset_url }}" {% endif %} rel="stylesheet" type="text/css" media="all">

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gOYEJqv71t"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:76px;--pl:0px;--pb:80px;--pr:0px;--pt-mobile:42px;--pl-mobile:27px;--pb-mobile:37px;--pr-mobile:31px;--pt-tablet:76px;--pl-tablet:26px;--pb-tablet:80px;--pr-tablet:26px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFDFA;--bgc-mobile:#00000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gOYEJqv71t gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaR5KGoJOg gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gOpwnDE-4W"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:1030px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOpwnDE-4W gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXWer55NKL gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gARZzmuxkf "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mt-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-heading, heading);--weight:700;--ls:0px;--lh:148%;--size:40px;--size-tablet:38px;--size-mobile:24px;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggARZzmuxkf_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="g-22xbF0rr"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:58px;--mt-mobile:31px;--pl-mobile:0px;--pr-mobile:0px;--cg:0px;--cg-mobile:59px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-22xbF0rr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:space-between"
      class="gIbdfXdGbv gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gVmhEoeMQT"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_432750572815254551-fb0cfaeb-0020-4ac4-9250-31b084f4a615.png" | file_url }}" width="117" height="72" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:117/72;--aspect-tablet:117/72;--aspect-mobile:117/72;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_432750572815254551-fb0cfaeb-0020-4ac4-9250-31b084f4a615.png" | file_url }}" data-srcset="{{ 'gempages_432750572815254551-fb0cfaeb-0020-4ac4-9250-31b084f4a615.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_432750572815254551-fb0cfaeb-0020-4ac4-9250-31b084f4a615.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_432750572815254551-fb0cfaeb-0020-4ac4-9250-31b084f4a615.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="117" height="72" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:117/72;--aspect-tablet:117/72;--aspect-mobile:117/72;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gVmhEoeMQT"
      >.gVmhEoeMQT {

}
.gVmhEoeMQT > figure > img {

}</style>
    
    <div
      parentTag="Col"
        class="gLshG7slOW "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:39px;--pr:0px;--mt-mobile:15px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:500;--ls:0px;--lh:148%;--size:18px;--size-tablet:16px;--size-mobile:12px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggLshG7slOW_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gLshG7slOW"
      >.gLshG7slOW {

}
.gLshG7slOW p {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:space-between"
      class="gboDqDCf85 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gEWwuZKE57"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_432750572815254551-b14c162c-0a2e-44a1-a411-2ea7be6e0b3b.png" | file_url }}" width="79" height="78" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:79/78;--aspect-tablet:79/78;--aspect-mobile:79/78;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_432750572815254551-b14c162c-0a2e-44a1-a411-2ea7be6e0b3b.png" | file_url }}" data-srcset="{{ 'gempages_432750572815254551-b14c162c-0a2e-44a1-a411-2ea7be6e0b3b.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_432750572815254551-b14c162c-0a2e-44a1-a411-2ea7be6e0b3b.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_432750572815254551-b14c162c-0a2e-44a1-a411-2ea7be6e0b3b.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="79" height="78" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:79/78;--aspect-tablet:79/78;--aspect-mobile:79/78;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gEWwuZKE57"
      >.gEWwuZKE57 {

}
.gEWwuZKE57 > figure > img {

}</style>
    
    <div
      parentTag="Col"
        class="g2lAgv-NKx "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:35px;--pr:0px;--mt-mobile:15px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:500;--ls:0px;--lh:148%;--size:18px;--size-tablet:16px;--size-mobile:12px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2lAgv-NKx_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g2lAgv-NKx"
      >.g2lAgv-NKx {

}
.g2lAgv-NKx p {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:space-between"
      class="gG6QEhfNAR gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g5mroijkQA"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt-mobile:36px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_432750572815254551-08e6c6cb-7eb0-4842-b2c3-8f59e1b42391.png" | file_url }}" width="90" height="83" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:90/83;--aspect-tablet:90/83;--aspect-mobile:90/83;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_432750572815254551-08e6c6cb-7eb0-4842-b2c3-8f59e1b42391.png" | file_url }}" data-srcset="{{ 'gempages_432750572815254551-08e6c6cb-7eb0-4842-b2c3-8f59e1b42391.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_432750572815254551-08e6c6cb-7eb0-4842-b2c3-8f59e1b42391.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_432750572815254551-08e6c6cb-7eb0-4842-b2c3-8f59e1b42391.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="90" height="83" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:90/83;--aspect-tablet:90/83;--aspect-mobile:90/83;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-g5mroijkQA"
      >.g5mroijkQA {

}
.g5mroijkQA > figure > img {

}</style>
    
    <div
      parentTag="Col"
        class="gtGC318BM6 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:35px;--pr:0px;--mt-mobile:15px;--mb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:500;--ls:0px;--lh:148%;--size:18px;--size-tablet:16px;--size-mobile:12px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtGC318BM6_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gtGC318BM6"
      >.gtGC318BM6 {

}
.gtGC318BM6 p {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:space-between"
      class="g-aH76chp9 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gWBFdFeL7J"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt-mobile:36px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_432750572815254551-36a6c719-fc4f-4376-8dcf-b066e27296f9.png" | file_url }}" width="88" height="88" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:88/88;--aspect-tablet:88/88;--aspect-mobile:88/88;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_432750572815254551-36a6c719-fc4f-4376-8dcf-b066e27296f9.png" | file_url }}" data-srcset="{{ 'gempages_432750572815254551-36a6c719-fc4f-4376-8dcf-b066e27296f9.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_432750572815254551-36a6c719-fc4f-4376-8dcf-b066e27296f9.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_432750572815254551-36a6c719-fc4f-4376-8dcf-b066e27296f9.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="88" height="88" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:88/88;--aspect-tablet:88/88;--aspect-mobile:88/88;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gWBFdFeL7J"
      >.gWBFdFeL7J {

}
.gWBFdFeL7J > figure > img {

}</style>
    
    <div
      parentTag="Col"
        class="gduULqxV7q "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:35px;--pr:0px;--mt-mobile:15px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:500;--ls:0px;--lh:148%;--size:18px;--size-tablet:16px;--size-mobile:12px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggduULqxV7q_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gduULqxV7q"
      >.gduULqxV7q {

}
.gduULqxV7q p {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload != "true" %}class="gps-link" type="text/disabled-css"{% endif %}></style>

{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-516835929734775590 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/mybestpractice/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=516835886348895112&sectionId=516835929734775590)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggARZzmuxkf_text","label":"ggARZzmuxkf_text","default":"How it is different"},{"type":"html","id":"ggLshG7slOW_text","label":"ggLshG7slOW_text","default":"<p>Pan &amp; Lid Storage</p><p>Solution</p>"},{"type":"html","id":"gg2lAgv-NKx_text","label":"gg2lAgv-NKx_text","default":"<p>Oven Safe Up to</p><p>550°F</p>"},{"type":"html","id":"ggtGC318BM6_text","label":"ggtGC318BM6_text","default":"<p>Stovetop</p><p>Agnostic</p>"},{"type":"html","id":"ggduULqxV7q_text","label":"ggduULqxV7q_text","default":"<p>Non Toxic</p><p>Coating</p>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
