

<link {% if section.settings.section_preload == "true" %} href="{{ 'gp-section-516835929567003723.css' | asset_url }}" {% else %} class="gps-link" delay="{{ 'gp-section-516835929567003723.css' | asset_url }}" {% endif %} rel="stylesheet" type="text/css" media="all">

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g08LoEaHgs"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--mr:auto;--pt:92px;--pl:26px;--pb:148px;--pr:26px;--pt-mobile:39px;--pl-mobile:28px;--pb-mobile:80px;--pr-mobile:28px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g08LoEaHgs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_p_TDdci- gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gSyWT91QJb"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--cg:46px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1135px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSyWT91QJb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="g2-dFqTDc5 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g6RH7S7oQY "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:0px;--mt-mobile:40px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-heading, heading);--weight:700;--ls:0px;--lh:148%;--size:40px;--size-tablet:38px;--size-mobile:24px;--c:#000000;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg6RH7S7oQY_text | downcase }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g0ovILI-P1 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:14px;--pr:0px;--mt-mobile:19px;--pr-mobile:22px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:465px;--w-tablet:465px;--w-mobile:465px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:500;--ls:0px;--lh:148%;--size:18px;--size-tablet:16px;--size-mobile:12.05px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0ovILI-P1_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g0ovILI-P1"
      >.g0ovILI-P1 {

}
.g0ovILI-P1 p {

}</style>
    
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:64px;--mt-mobile:23px;--ta:left"
    class=""
  >
    <style>
    .gcsjkfhSYt.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gcsjkfhSYt:hover::before {
      
      
    }
  </style>
    <a
      href="#gdD22Ol2p4" target="_self" data-id="gcsjkfhSYt" aria-label="SHOP NOW"
      
      data-state="idle"
      class="gcsjkfhSYt gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#000000;--bg:#000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:;--w-tablet:;--w-mobile:138px;--h:;--h-tablet:;--h-mobile:46px;--pl:53px;--pr:53px;--pt:25px;--pb:24px;--pl-mobile:auto;--pr-mobile:auto;--pt-mobile:4px;--pb-mobile:auto;--tt:none;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:700;--ls:0px;--lh:125%;--size:16px;--size-tablet:16px;--size-mobile:10.71px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggcsjkfhSYt_label }}
      </span>
    </a>
  </div>
  </gp-button>

      <style
        id="custom-css-gcsjkfhSYt"
      >button.gcsjkfhSYt {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gbUqbJfb-y gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gG9xtjCL8z"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_432750572815254551-2c442d8b-620f-4a34-9238-934774488fe1.png" | file_url }}" width="547" height="529" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:547/529;--aspect-tablet:547/529;--aspect-mobile:547/529;--objf:cover;--objf-mobile:cover;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_432750572815254551-2c442d8b-620f-4a34-9238-934774488fe1.png" | file_url }}" data-srcset="{{ 'gempages_432750572815254551-2c442d8b-620f-4a34-9238-934774488fe1.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_432750572815254551-2c442d8b-620f-4a34-9238-934774488fe1.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_432750572815254551-2c442d8b-620f-4a34-9238-934774488fe1.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="547" height="529" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:547/529;--aspect-tablet:547/529;--aspect-mobile:547/529;--objf:cover;--objf-mobile:cover;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gG9xtjCL8z"
      >.gG9xtjCL8z {

}
.gG9xtjCL8z > figure > img {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload != "true" %}class="gps-link" type="text/disabled-css"{% endif %}></style>

{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-516835929567003723 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/mybestpractice/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=516835886348895112&sectionId=516835929567003723)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gg6RH7S7oQY_text","label":"gg6RH7S7oQY_text","default":"quality kitchenware, without chemicals"},{"type":"html","id":"gg0ovILI-P1_text","label":"gg0ovILI-P1_text","default":"<p>Crafted from naturally smooth ceramic, JULI Cookware avoids synthetic materials like polytetrafluoroethylene (such as Teflon®), which can release harmful substances into your food and the air.</p>"},{"type":"html","id":"ggcsjkfhSYt_label","label":"ggcsjkfhSYt_label","default":"SHOP NOW"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
