

<link {% if section.settings.section_preload == "true" %} href="{{ 'gp-section-516835929785107336.css' | asset_url }}" {% else %} class="gps-link" delay="{{ 'gp-section-516835929785107336.css' | asset_url }}" {% endif %} rel="stylesheet" type="text/css" media="all">

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g2pXvEj5Hs"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:36px;--pb:17px;--pt-mobile:35px;--pb-mobile:25px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2pXvEj5Hs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHHdgGkaD6 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gJyqgC03-0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:0px;--pb:0px;--pr:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:1135px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJyqgC03-0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFM-vAwvO3 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gvB8ImrwiE"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:10px;--pb:10px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_432750572815254551-1ad54084-27d0-4d1a-add6-abfbb8d1b0dc.png" | file_url }}" width="1342" height="110" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1342/110;--aspect-tablet:1342/110;--aspect-mobile:1342/110;--objf:cover;--w:447px;--w-tablet:447px;--w-mobile:250px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_432750572815254551-1ad54084-27d0-4d1a-add6-abfbb8d1b0dc.png" | file_url }}" data-srcset="{{ 'gempages_432750572815254551-1ad54084-27d0-4d1a-add6-abfbb8d1b0dc.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_432750572815254551-1ad54084-27d0-4d1a-add6-abfbb8d1b0dc.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_432750572815254551-1ad54084-27d0-4d1a-add6-abfbb8d1b0dc.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1342" height="110" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1342/110;--aspect-tablet:1342/110;--aspect-mobile:1342/110;--objf:cover;--w:447px;--w-tablet:447px;--w-mobile:250px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gvB8ImrwiE"
      >.gvB8ImrwiE {

}
.gvB8ImrwiE > figure > img {

}</style>
    
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:13px;--mt-mobile:17px;--mb-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:9px;--jc:center">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gVH1x4OSzF ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gPPFaKPG-e"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <a
      href="#" target="_self" title
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:45px;--w-mobile:42px;--h:45px;--h-mobile:42px;--minw:45px;--minw-mobile:42px;--height-desktop:45px;--height-tablet:45px;--height-mobile:42px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="513925814832595864" xmlns="http://www.w3.org/2000/svg" width="46" height="47" viewBox="0 0 46 47" fill="none">
<circle cx="22.8692" cy="23.4308" r="22.7521" fill="white" fill-opacity="0.16"/>
<path d="M28.3099 12.459H17.3377C14.3078 12.459 11.8516 14.9152 11.8516 17.9451V28.9174C11.8516 31.9473 14.3078 34.4035 17.3377 34.4035H28.3099C31.3398 34.4035 33.7961 31.9473 33.7961 28.9174V17.9451C33.7961 14.9152 31.3398 12.459 28.3099 12.459Z" stroke="white" stroke-width="2.19445" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M27.2108 22.7393C27.3462 23.6524 27.1902 24.585 26.7651 25.4044C26.3399 26.2239 25.6672 26.8883 24.8426 27.3034C24.018 27.7184 23.0835 27.8629 22.1721 27.7162C21.2607 27.5695 20.4187 27.1392 19.766 26.4865C19.1132 25.8337 18.6829 24.9917 18.5362 24.0803C18.3896 23.1689 18.534 22.2344 18.9491 21.4098C19.3641 20.5853 20.0286 19.9125 20.848 19.4874C21.6674 19.0622 22.6 18.9062 23.5132 19.0416C24.4446 19.1797 25.307 19.6138 25.9728 20.2796C26.6386 20.9455 27.0727 21.8078 27.2108 22.7393Z" stroke="white" stroke-width="2.19445" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M28.8555 17.3955H28.8667" stroke="white" stroke-width="2.19445" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
    </a>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gyiU2BQGkr ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gO1VwB8D3O"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <a
      href="#" target="_self" title
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:45px;--w-mobile:42px;--h:45px;--h-mobile:42px;--minw:45px;--minw-mobile:42px;--height-desktop:45px;--height-tablet:45px;--height-mobile:42px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="513925827969155992" xmlns="http://www.w3.org/2000/svg" width="46" height="47" viewBox="0 0 46 47" fill="none">
<circle cx="23.1544" cy="23.4308" r="22.7521" fill="white" fill-opacity="0.16"/>
<g clip-path="url(#clip0_2035_89)">
<path d="M34.756 17.3086C34.6256 16.7879 34.3602 16.3108 33.9864 15.9255C33.6127 15.5401 33.1439 15.2603 32.6273 15.1142C30.7401 14.6533 23.1912 14.6533 23.1912 14.6533C23.1912 14.6533 15.6423 14.6533 13.7551 15.158C13.2385 15.3042 12.7697 15.584 12.396 15.9693C12.0222 16.3546 11.7568 16.8318 11.6264 17.3525C11.2811 19.2678 11.1121 21.2107 11.1217 23.1568C11.1094 25.1176 11.2784 27.0753 11.6264 29.005C11.7701 29.5096 12.0415 29.9686 12.4144 30.3376C12.7873 30.7066 13.249 30.9732 13.7551 31.1117C15.6423 31.6164 23.1912 31.6164 23.1912 31.6164C23.1912 31.6164 30.7401 31.6164 32.6273 31.1117C33.1439 30.9656 33.6127 30.6857 33.9864 30.3004C34.3602 29.9151 34.6256 29.438 34.756 28.9172C35.0987 27.0164 35.2676 25.0883 35.2607 23.1568C35.273 21.196 35.104 19.2383 34.756 17.3086Z" stroke="white" stroke-width="2.19445" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M20.7266 26.7452L27.0356 23.1573L20.7266 19.5693V26.7452Z" stroke="white" stroke-width="2.19445" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_2035_89">
<rect width="26.3334" height="26.3334" fill="white" transform="translate(10.0234 10.2637)"/>
</clipPath>
</defs>
</svg></span>
    </a>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gcLCq5qXxa ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gjdQq-dhQo"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <a
      href="#" target="_self" title
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:45px;--w-mobile:42px;--h:45px;--h-mobile:42px;--minw:45px;--minw-mobile:42px;--height-desktop:45px;--height-tablet:45px;--height-mobile:42px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="513925852983985048" xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
<circle cx="23.4435" cy="23.4308" r="22.7521" fill="white" fill-opacity="0.16"/>
<path d="M27.9505 19.041C29.6966 19.041 31.3711 19.7346 32.6057 20.9692C33.8403 22.2039 34.5339 23.8784 34.5339 25.6244V33.3049H30.145V25.6244C30.145 25.0424 29.9138 24.4842 29.5022 24.0727C29.0907 23.6611 28.5325 23.4299 27.9505 23.4299C27.3685 23.4299 26.8104 23.6611 26.3988 24.0727C25.9873 24.4842 25.7561 25.0424 25.7561 25.6244V33.3049H21.3672V25.6244C21.3672 23.8784 22.0608 22.2039 23.2954 20.9692C24.53 19.7346 26.2045 19.041 27.9505 19.041Z" stroke="white" stroke-width="2.19445" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.9748 20.1387H12.5859V33.3054H16.9748V20.1387Z" stroke="white" stroke-width="2.19445" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.7804 16.8479C15.9923 16.8479 16.9748 15.8654 16.9748 14.6534C16.9748 13.4415 15.9923 12.459 14.7804 12.459C13.5684 12.459 12.5859 13.4415 12.5859 14.6534C12.5859 15.8654 13.5684 16.8479 14.7804 16.8479Z" stroke="white" stroke-width="2.19445" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
    </a>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gUuHBXcgZZ ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gT3J7OJTj8"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <a
      href="#" target="_self" title
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:45px;--w-mobile:42px;--h:45px;--h-mobile:42px;--minw:45px;--minw-mobile:42px;--height-desktop:45px;--height-tablet:45px;--height-mobile:42px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="513925843102204824" xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
<circle cx="23.7286" cy="23.4308" r="22.7521" fill="white" fill-opacity="0.16"/>
<g clip-path="url(#clip0_2035_90)">
<path d="M36.0022 13.556C34.9515 14.2971 33.7882 14.864 32.557 15.2347C31.8961 14.4749 31.0179 13.9364 30.041 13.6919C29.0642 13.4475 28.0358 13.509 27.0951 13.8681C26.1543 14.2271 25.3465 14.8665 24.7809 15.6996C24.2153 16.5328 23.9193 17.5195 23.9328 18.5264V19.6236C22.0045 19.6736 20.0939 19.246 18.3709 18.3787C16.648 17.5115 15.1663 16.2317 14.0577 14.6532C14.0577 14.6532 9.66883 24.5282 19.5439 28.9171C17.2842 30.451 14.5923 31.2201 11.8633 31.1116C21.7383 36.5977 33.8078 31.1116 33.8078 18.4935C33.8068 18.1878 33.7774 17.883 33.72 17.5828C34.8398 16.4784 35.6301 15.0841 36.0022 13.556Z" stroke="white" stroke-width="2.19445" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_2035_90">
<rect width="26.3334" height="26.3334" fill="white" transform="translate(10.7656 10.2637)"/>
</clipPath>
</defs>
</svg></span>
    </a>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
      
      
    <div
      parentTag="Col" id="gwHA61iyxq"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:44px;--cg:12px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwHA61iyxq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:space-between"
      class="gz7GBCz-mr gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g5ZXnyGr4O "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:33px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:800;--ls:normal;--lh:103%;--size:22px;--size-tablet:16px;--size-mobile:9.69px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg5ZXnyGr4O_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g5ZXnyGr4O"
      >.g5ZXnyGr4O {

}
.g5ZXnyGr4O p {

}</style>
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:20px;--ta:center"
    class=""
  >
    <style>
    .g6LR5jLAdB.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g6LR5jLAdB:hover::before {
      
      
    }
  </style>
    <a
      href="#gYk9aUABg9" target="_self" data-id="g6LR5jLAdB" aria-label="Our Story"
      
      data-state="idle"
      class="g6LR5jLAdB gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:auto;--pr:auto;--pt:0px;--pb:0px;--tt:default;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:120%;--size:18px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg6LR5jLAdB_label }}
      </span>
    </a>
  </div>
  </gp-button>

      <style
        id="custom-css-g6LR5jLAdB"
      >button.g6LR5jLAdB {

}</style>
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:16px;--ta:center"
    class=""
  >
    <style>
    .gFFj0Qthlq.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gFFj0Qthlq:hover::before {
      
      
    }
  </style>
    <a
      href="#gYk9aUABg9" target="_self" data-id="gFFj0Qthlq" aria-label="Blogs"
      
      data-state="idle"
      class="gFFj0Qthlq gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:auto;--pr:auto;--pt:0px;--pb:0px;--tt:default;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:120%;--size:18px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggFFj0Qthlq_label }}
      </span>
    </a>
  </div>
  </gp-button>

      <style
        id="custom-css-gFFj0Qthlq"
      >button.gFFj0Qthlq {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:space-between"
      class="geH2qeIy1B gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g6n-7qYtdu "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:33px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:800;--ls:normal;--lh:103%;--size:22px;--size-tablet:16px;--size-mobile:9.69px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg6n-7qYtdu_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g6n-7qYtdu"
      >.g6n-7qYtdu {

}
.g6n-7qYtdu p {

}</style>
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:20px;--ta:center"
    class=""
  >
    <style>
    .gRilsL3KCl.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gRilsL3KCl:hover::before {
      
      
    }
  </style>
    <a
      href="#gYk9aUABg9" target="_self" data-id="gRilsL3KCl" aria-label="FAQs"
      
      data-state="idle"
      class="gRilsL3KCl gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:auto;--pr:auto;--pt:0px;--pb:0px;--tt:default;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:120%;--size:18px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggRilsL3KCl_label }}
      </span>
    </a>
  </div>
  </gp-button>

      <style
        id="custom-css-gRilsL3KCl"
      >button.gRilsL3KCl {

}</style>
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:16px;--ta:center"
    class=""
  >
    <style>
    .gX6YzRaQna.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gX6YzRaQna:hover::before {
      
      
    }
  </style>
    <a
      href="#gYk9aUABg9" target="_self" data-id="gX6YzRaQna" aria-label="Terms &amp; Conditions"
      
      data-state="idle"
      class="gX6YzRaQna gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:auto;--pr:auto;--pt:0px;--pb:0px;--tt:default;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:120%;--size:18px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggX6YzRaQna_label }}
      </span>
    </a>
  </div>
  </gp-button>

      <style
        id="custom-css-gX6YzRaQna"
      >button.gX6YzRaQna {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:space-between"
      class="gWyRWJ8nxd gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g3PA2jeIb1 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:33px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:800;--ls:normal;--lh:103%;--size:22px;--size-tablet:16px;--size-mobile:9.69px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3PA2jeIb1_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g3PA2jeIb1"
      >.g3PA2jeIb1 {

}
.g3PA2jeIb1 p {

}</style>
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:20px;--ta:center"
    class=""
  >
    <style>
    .g4o9WlJ4zz.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g4o9WlJ4zz:hover::before {
      
      
    }
  </style>
    <a
      href="#gYk9aUABg9" target="_self" data-id="g4o9WlJ4zz" aria-label="hey@gemkitchen.com"
      
      data-state="idle"
      class="g4o9WlJ4zz gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:auto;--pr:auto;--pt:0px;--pb:0px;--tt:default;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:120%;--size:18px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg4o9WlJ4zz_label }}
      </span>
    </a>
  </div>
  </gp-button>

      <style
        id="custom-css-g4o9WlJ4zz"
      >button.g4o9WlJ4zz {

}</style>
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:16px;--ta:center"
    class=""
  >
    <style>
    .go32qAezfP.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .go32qAezfP:hover::before {
      
      
    }
  </style>
    <a
      href="#gYk9aUABg9" target="_self" data-id="go32qAezfP" aria-label="GEM KITCHEN on Amazon"
      
      data-state="idle"
      class="go32qAezfP gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:auto;--pr:auto;--pt:0px;--pb:0px;--tt:default;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:120%;--size:18px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggo32qAezfP_label }}
      </span>
    </a>
  </div>
  </gp-button>

      <style
        id="custom-css-go32qAezfP"
      >button.go32qAezfP {

}</style>
    
    </div>
    </div>
  
    <div style="--b:solid;--bc:rgba(255, 255, 255, 0.25);--bw:0px 0px 1px 0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mt-mobile:36px;--ml-mobile:0px;--mr-mobile:0px;--pl-mobile:0px;--pr-mobile:0px" class="gI1WglPUiQ ">
      
    <gp-accordion
     uid="gI1WglPUiQ"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--gg-mobile:0px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            }"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1,2","expanded":true,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg data-id=\"513952038543950744\" xmlns=\"http://www.w3.org/2000/svg\" width=\"17\" height=\"10\" viewBox=\"0 0 17 10\" fill=\"none\">\n<path d=\"M1.92773 0.990723L8.54571 7.60877L15.1638 0.990723\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\"/>\n</svg>","iconExpand":"<svg data-id=\"513952147713295256\" xmlns=\"http://www.w3.org/2000/svg\" width=\"17\" height=\"10\" viewBox=\"0 0 17 10\" fill=\"none\">\n<path d=\"M15.1641 8.60889L8.54608 1.99084L1.92804 8.60889\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\"/>\n</svg>","iconCollapseSize":13,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"gI1WglPUiQ","childListNumber":[],"chidlrenUid":["grymIwArnF"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"active":"#ffffff","hover":"#ffffff","normal":"#ffffff"},"headerBorder":{"active":{"border":"none","borderWidth":"Mixed","color":"#ffffff","isCustom":true,"position":"bottom","width":"1px 0px 1px 0px"},"hover":{"border":"none","borderWidth":"Mixed","color":"#ffffff","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"none","borderWidth":"Mixed","color":"#ffffff","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#ffffff","hover":"#ffffff","normal":"#ffffff"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}},"mobile":{"customShapeValue":"","gap":"0px","height":"","padding":{"bottom":"28px","left":"0px","right":"0px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"28px","left":"78px","right":"44px","top":"28px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"},"mobile":{"customShapeValue":"","gap":"","height":"auto","shape":"","shapeValue":"","width":"100%"}}},"uid":"gI1WglPUiQ"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:13px;--height-configIconSize:16px;--bs:none;--bw:0px 0px 1px 0px;--bc:rgba(255, 255, 255, 0.25);--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="gI1WglPUiQ gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="grymIwArnF"
        id="grymIwArnF"
        data-index="0"
        class="gI1WglPUiQ gp-accordion-item-gI1WglPUiQ-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:78px;--pr-mobile:44px;--pt-mobile:28px;--pb-mobile:28px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#ffffff;--c:#ffffff;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#ffffff;--hvr-bc:#ffffff"
      >
       <style class="accordion-style">.gp-accordion-item-gI1WglPUiQ-0:hover { 
              .gp-collapsible-icon { 
                  color: #ffffff 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#ffffff;--c:#ffffff;width:13px;height:13px"
            data-index="0"
            class="gI1WglPUiQ gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="513952038543950744" xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
<path d="M1.92773 0.990723L8.54571 7.60877L15.1638 0.990723" stroke="white" stroke-width="2" stroke-linecap="round"/>
</svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left;--jc-mobile:center">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:700;--ls:0px;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:22px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggI1WglPUiQ_childItem_0 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="grymIwArnF"
        data-index="0"
        class="gI1WglPUiQ gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="grymIwArnF"
        data-index="0"
        class="gI1WglPUiQ gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="gsHbY1uSoD gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:10px;--ta:left;--ta-mobile:center"
    class=""
  >
    <style>
    .grO5GGSHzu.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .grO5GGSHzu:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="grO5GGSHzu" aria-label="&nbsp;Our Story"
      
      data-state="idle"
      class="grO5GGSHzu gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:55px;--pr-mobile:55px;--pt-mobile:0px;--pb-mobile:0px;--tt:default;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:18px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggrO5GGSHzu_label }}
      </span>
    </button>
  </div>
  </gp-button>

      <style
        id="custom-css-grO5GGSHzu"
      >button.grO5GGSHzu {

}</style>
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:0px;--ta:left;--ta-mobile:center"
    class=""
  >
    <style>
    .gG2__F6KOZ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gG2__F6KOZ:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gG2__F6KOZ" aria-label="&nbsp;Blogs"
      
      data-state="idle"
      class="gG2__F6KOZ gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:55px;--pr-mobile:55px;--pt-mobile:0px;--pb-mobile:0px;--tt:default;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:18px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggG2__F6KOZ_label }}
      </span>
    </button>
  </div>
  </gp-button>

      <style
        id="custom-css-gG2__F6KOZ"
      >button.gG2__F6KOZ {

}</style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div style="--b:solid;--bc:rgba(255, 255, 255, 0.25);--bw:0px 0px 1px 0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mt-mobile:0px;--ml-mobile:0px;--mr-mobile:0px;--pl-mobile:0px;--pr-mobile:0px" class="gaiOZCb3xO ">
      
    <gp-accordion
     uid="gaiOZCb3xO"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--gg-mobile:0px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            }"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1,2","expanded":true,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg data-id=\"513952038543950744\" xmlns=\"http://www.w3.org/2000/svg\" width=\"17\" height=\"10\" viewBox=\"0 0 17 10\" fill=\"none\">\n<path d=\"M1.92773 0.990723L8.54571 7.60877L15.1638 0.990723\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\"/>\n</svg>","iconExpand":"<svg data-id=\"513952147713295256\" xmlns=\"http://www.w3.org/2000/svg\" width=\"17\" height=\"10\" viewBox=\"0 0 17 10\" fill=\"none\">\n<path d=\"M15.1641 8.60889L8.54608 1.99084L1.92804 8.60889\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\"/>\n</svg>","iconCollapseSize":13,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"gaiOZCb3xO","childListNumber":[],"chidlrenUid":["glI5yxHFry"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"active":"#ffffff","hover":"#ffffff","normal":"#ffffff"},"headerBorder":{"active":{"border":"none","borderWidth":"Mixed","color":"#ffffff","isCustom":true,"position":"bottom","width":"1px 0px 1px 0px"},"hover":{"border":"none","borderWidth":"Mixed","color":"#ffffff","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"none","borderWidth":"Mixed","color":"#ffffff","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#ffffff","hover":"#ffffff","normal":"#ffffff"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}},"mobile":{"customShapeValue":"","gap":"0px","height":"","padding":{"bottom":"28px","left":"0px","right":"0px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"28px","left":"78px","right":"44px","top":"28px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"},"mobile":{"customShapeValue":"","gap":"","height":"auto","shape":"","shapeValue":"","width":"100%"}}},"uid":"gaiOZCb3xO"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:13px;--height-configIconSize:16px;--bs:none;--bw:0px 0px 1px 0px;--bc:rgba(255, 255, 255, 0.25);--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="gaiOZCb3xO gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="glI5yxHFry"
        id="glI5yxHFry"
        data-index="0"
        class="gaiOZCb3xO gp-accordion-item-gaiOZCb3xO-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:78px;--pr-mobile:44px;--pt-mobile:28px;--pb-mobile:28px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#ffffff;--c:#ffffff;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#ffffff;--hvr-bc:#ffffff"
      >
       <style class="accordion-style">.gp-accordion-item-gaiOZCb3xO-0:hover { 
              .gp-collapsible-icon { 
                  color: #ffffff 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#ffffff;--c:#ffffff;width:13px;height:13px"
            data-index="0"
            class="gaiOZCb3xO gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="513952038543950744" xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
<path d="M1.92773 0.990723L8.54571 7.60877L15.1638 0.990723" stroke="white" stroke-width="2" stroke-linecap="round"/>
</svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left;--jc-mobile:center">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:700;--ls:0px;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:22px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaiOZCb3xO_childItem_0 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="glI5yxHFry"
        data-index="0"
        class="gaiOZCb3xO gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="glI5yxHFry"
        data-index="0"
        class="gaiOZCb3xO gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gXFX__c9Up gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:10px;--ta:left;--ta-mobile:center"
    class=""
  >
    <style>
    .g-v1E8Smqn.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g-v1E8Smqn:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="g-v1E8Smqn" aria-label="&nbsp;FAQs"
      
      data-state="idle"
      class="g-v1E8Smqn gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:55px;--pr-mobile:55px;--pt-mobile:0px;--pb-mobile:0px;--tt:default;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:18px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg-v1E8Smqn_label }}
      </span>
    </button>
  </div>
  </gp-button>

      <style
        id="custom-css-g-v1E8Smqn"
      >button.g-v1E8Smqn {

}</style>
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:0px;--ta:left;--ta-mobile:center"
    class=""
  >
    <style>
    .g0MouG0sge.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g0MouG0sge:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="g0MouG0sge" aria-label="&nbsp;Terms &amp; Conditions"
      
      data-state="idle"
      class="g0MouG0sge gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:55px;--pr-mobile:55px;--pt-mobile:0px;--pb-mobile:0px;--tt:default;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:18px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg0MouG0sge_label }}
      </span>
    </button>
  </div>
  </gp-button>

      <style
        id="custom-css-g0MouG0sge"
      >button.g0MouG0sge {

}</style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mt-mobile:0px;--ml-mobile:0px;--mr-mobile:0px;--pl-mobile:0px;--pr-mobile:0px" class="gulnf62Cm0 ">
      
    <gp-accordion
     uid="gulnf62Cm0"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--gg-mobile:0px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            }"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1,2","expanded":true,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg data-id=\"513952038543950744\" xmlns=\"http://www.w3.org/2000/svg\" width=\"17\" height=\"10\" viewBox=\"0 0 17 10\" fill=\"none\">\n<path d=\"M1.92773 0.990723L8.54571 7.60877L15.1638 0.990723\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\"/>\n</svg>","iconExpand":"<svg data-id=\"513952147713295256\" xmlns=\"http://www.w3.org/2000/svg\" width=\"17\" height=\"10\" viewBox=\"0 0 17 10\" fill=\"none\">\n<path d=\"M15.1641 8.60889L8.54608 1.99084L1.92804 8.60889\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\"/>\n</svg>","iconCollapseSize":13,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"gulnf62Cm0","childListNumber":[],"chidlrenUid":["ggx-ZvFI-T"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"active":"#ffffff","hover":"#ffffff","normal":"#ffffff"},"headerBorder":{"active":{"border":"none","borderWidth":"Mixed","color":"#ffffff","isCustom":true,"position":"bottom","width":"1px 0px 1px 0px"},"hover":{"border":"none","borderWidth":"Mixed","color":"#ffffff","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"none","borderWidth":"Mixed","color":"#ffffff","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#ffffff","hover":"#ffffff","normal":"#ffffff"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}},"mobile":{"customShapeValue":"","gap":"0px","height":"","padding":{"bottom":"28px","left":"0px","right":"0px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"28px","left":"78px","right":"44px","top":"28px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"},"mobile":{"customShapeValue":"","gap":"","height":"auto","shape":"","shapeValue":"","width":"100%"}}},"uid":"gulnf62Cm0"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:13px;--height-configIconSize:16px;--bs:none;--bw:0px 0px 1px 0px;--bc:rgba(255, 255, 255, 0.25);--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="gulnf62Cm0 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="ggx-ZvFI-T"
        id="ggx-ZvFI-T"
        data-index="0"
        class="gulnf62Cm0 gp-accordion-item-gulnf62Cm0-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:78px;--pr-mobile:44px;--pt-mobile:28px;--pb-mobile:28px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#ffffff;--c:#ffffff;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#ffffff;--hvr-bc:#ffffff"
      >
       <style class="accordion-style">.gp-accordion-item-gulnf62Cm0-0:hover { 
              .gp-collapsible-icon { 
                  color: #ffffff 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#ffffff;--c:#ffffff;width:13px;height:13px"
            data-index="0"
            class="gulnf62Cm0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg data-id="513952038543950744" xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
<path d="M1.92773 0.990723L8.54571 7.60877L15.1638 0.990723" stroke="white" stroke-width="2" stroke-linecap="round"/>
</svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left;--jc-mobile:center">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:700;--ls:0px;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:22px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggulnf62Cm0_childItem_0 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="ggx-ZvFI-T"
        data-index="0"
        class="gulnf62Cm0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="ggx-ZvFI-T"
        data-index="0"
        class="gulnf62Cm0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gPtOpusmSY gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:10px;--ta:left;--ta-mobile:center"
    class=""
  >
    <style>
    .gY8rjrkfnj.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gY8rjrkfnj:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gY8rjrkfnj" aria-label="hey@gemkitchen.com"
      
      data-state="idle"
      class="gY8rjrkfnj gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:55px;--pr-mobile:55px;--pt-mobile:0px;--pb-mobile:0px;--tt:default;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:18px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggY8rjrkfnj_label }}
      </span>
    </button>
  </div>
  </gp-button>

      <style
        id="custom-css-gY8rjrkfnj"
      >button.gY8rjrkfnj {

}</style>
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:0px;--ta:left;--ta-mobile:center"
    class=""
  >
    <style>
    .g9jIao1cr0.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g9jIao1cr0:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="g9jIao1cr0" aria-label="GEM KITCHEN on Amazon"
      
      data-state="idle"
      class="g9jIao1cr0 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:55px;--pr-mobile:55px;--pt-mobile:0px;--pb-mobile:0px;--tt:default;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:120%;--size:16px;--size-tablet:16px;--size-mobile:18px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg9jIao1cr0_label }}
      </span>
    </button>
  </div>
  </gp-button>

      <style
        id="custom-css-g9jIao1cr0"
      >button.g9jIao1cr0 {

}</style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:41px;--pb:17px;--pt-mobile:20px;--pb-mobile:16px" class="gSNt4RS8xx ">
      
    <div
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:rgba(255, 255, 255, 0.17)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(255, 255, 255, 0.17);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(255, 255, 255, 0.17);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(255, 255, 255, 0.17);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    <div
      parentTag="Col"
        class="gDwUYsd_UE "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--pt:0px;--mt-mobile:5px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:148%;--size:14px;--size-tablet:16px;--size-mobile:14px;--c:rgba(255, 255, 255, 0.29);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDwUYsd_UE_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gDwUYsd_UE"
      >.gDwUYsd_UE {

}
.gDwUYsd_UE p {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload != "true" %}class="gps-link" type="text/disabled-css"{% endif %}></style>

{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-516835929785107336 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/mybestpractice/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=516835886348895112&sectionId=516835929785107336)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gg5ZXnyGr4O_text","label":"gg5ZXnyGr4O_text","default":"<p>Gem Kitchen</p>"},{"type":"html","id":"gg6LR5jLAdB_label","label":"gg6LR5jLAdB_label","default":"Our Story"},{"type":"html","id":"ggFFj0Qthlq_label","label":"ggFFj0Qthlq_label","default":"Blogs"},{"type":"html","id":"gg6n-7qYtdu_text","label":"gg6n-7qYtdu_text","default":"<p>Support</p>"},{"type":"html","id":"ggRilsL3KCl_label","label":"ggRilsL3KCl_label","default":"FAQs"},{"type":"html","id":"ggX6YzRaQna_label","label":"ggX6YzRaQna_label","default":"Terms &amp; Conditions"},{"type":"html","id":"gg3PA2jeIb1_text","label":"gg3PA2jeIb1_text","default":"<p>Contact</p>"},{"type":"html","id":"gg4o9WlJ4zz_label","label":"gg4o9WlJ4zz_label","default":"hey@gemkitchen.com"},{"type":"html","id":"ggo32qAezfP_label","label":"ggo32qAezfP_label","default":"GEM KITCHEN on Amazon"},{"type":"html","id":"ggI1WglPUiQ_childItem_0","label":"ggI1WglPUiQ_childItem_0","default":"<p>Gem Kitchen</p>"},{"type":"html","id":"ggrO5GGSHzu_label","label":"ggrO5GGSHzu_label","default":"&nbsp;Our Story"},{"type":"html","id":"ggG2__F6KOZ_label","label":"ggG2__F6KOZ_label","default":"&nbsp;Blogs"},{"type":"html","id":"ggaiOZCb3xO_childItem_0","label":"ggaiOZCb3xO_childItem_0","default":"<p>Support</p>"},{"type":"html","id":"gg-v1E8Smqn_label","label":"gg-v1E8Smqn_label","default":"&nbsp;FAQs"},{"type":"html","id":"gg0MouG0sge_label","label":"gg0MouG0sge_label","default":"&nbsp;Terms &amp; Conditions"},{"type":"html","id":"ggulnf62Cm0_childItem_0","label":"ggulnf62Cm0_childItem_0","default":"<p>Contact</p>"},{"type":"html","id":"ggY8rjrkfnj_label","label":"ggY8rjrkfnj_label","default":"hey@gemkitchen.com"},{"type":"html","id":"gg9jIao1cr0_label","label":"gg9jIao1cr0_label","default":"GEM KITCHEN on Amazon"},{"type":"html","id":"ggDwUYsd_UE_text","label":"ggDwUYsd_UE_text","default":"<p>Gem Kitchen Copyright 2024</p>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
