

<link {% if section.settings.section_preload == "true" %} href="{{ 'gp-section-516835929734775883.css' | asset_url }}" {% else %} class="gps-link" delay="{{ 'gp-section-516835929734775883.css' | asset_url }}" {% endif %} rel="stylesheet" type="text/css" media="all">

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gGaVk2fJyM"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mr:auto;--pt:43px;--pl:26px;--pb:93px;--pr:26px;--mb-mobile:0px;--pt-mobile:32px;--pl-mobile:27px;--pb-mobile:71px;--pr-mobile:0px;--pt-tablet:43px;--pl-tablet:26px;--pb-tablet:93px;--pr-tablet:26px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#C6DE58;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGaVk2fJyM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPTIrBwjO0 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gFF7wn8Cdy"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:1135px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFF7wn8Cdy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grPseBEyuW gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g00BqwyQ3l "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mt-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-heading, heading);--weight:700;--ls:0px;--lh:148%;--size:40px;--size-tablet:38px;--size-mobile:23.43px;--c:#000000;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg00BqwyQ3l_text | downcase }}</h2>
      </div>
    </div>
    <gp-carousel  id="gp-root-carousel-gfwflsu3P4-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gfwflsu3P4-{{section.id}}","setting":{"animationMode":"ease-out","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4","Slide 5"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12},"dotStyle":{"desktop":"none"},"enableDrag":{"desktop":false,"mobile":true,"tablet":false},"itemNumber":{"desktop":5,"mobile":3},"label":true,"loop":{"desktop":false,"mobile":true,"tablet":false},"navigationStyle":{"desktop":"none","mobile":"none"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false,"mobile":true},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":75},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"playSpeed":"400","roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"gap":"","height":"auto","shapeLinked":false,"width":"1135px"},"mobile":{"customShapeValue":"","gap":"","height":"auto","shape":"","shapeLinked":false,"shapeValue":"","width":"100%"}},"spacing":{"desktop":"38","mobile":"21"}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gfwflsu3P4"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:50px;--mt-mobile:48px;--w:1135px;--w-tablet:1135px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-carousel-action-back gem-slider-previous gfwflsu3P4-{{section.id}} gp-carousel-arrow-gfwflsu3P4 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:none;--d-tablet:none;--d-mobile:none;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gfwflsu3P4 {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gfwflsu3P4::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gfwflsu3P4 {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gfwflsu3P4::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gfwflsu3P4 {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gfwflsu3P4::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gfwflsu3P4-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:21px;--cg-tablet:38px;--cg:38px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 5 - 30.4px);--minw-tablet:calc(100% / 5 - 30.4px);--minw-mobile:calc(100% / 2.25 - 11.666666666666666px);--maxw:calc(100% / 5 - 30.4px);--maxw-tablet:calc(100% / 5 - 30.4px);--maxw-mobile:calc(100% / 2.25 - 11.666666666666666px);--animation:[object Object];--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gVXkCcHXet"
    >
      <div
    
    role="presentation"
    class="gp-group/image gOlkhqjulO"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_432750572815254551-caccf449-9b8d-4bc9-a4b3-19fc294901cf_bc4236c5-b272-49ff-b382-1d00a7b321d3.png" | file_url }}" width="589" height="541" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:589/541;--aspect-tablet:589/541;--aspect-mobile:589/541;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_432750572815254551-caccf449-9b8d-4bc9-a4b3-19fc294901cf_bc4236c5-b272-49ff-b382-1d00a7b321d3.png" | file_url }}" data-srcset="{{ 'gempages_432750572815254551-caccf449-9b8d-4bc9-a4b3-19fc294901cf_bc4236c5-b272-49ff-b382-1d00a7b321d3.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_432750572815254551-caccf449-9b8d-4bc9-a4b3-19fc294901cf_bc4236c5-b272-49ff-b382-1d00a7b321d3.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_432750572815254551-caccf449-9b8d-4bc9-a4b3-19fc294901cf_bc4236c5-b272-49ff-b382-1d00a7b321d3.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="589" height="541" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:589/541;--aspect-tablet:589/541;--aspect-mobile:589/541;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gOlkhqjulO"
      >.gOlkhqjulO {

}
.gOlkhqjulO > figure > img {

}</style>
    
    <div
      parentTag="CarouselItem"
        class="gkPWj5ZGpW "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:20px;--mt-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:500;--ls:0px;--lh:148%;--size:18px;--size-tablet:16px;--size-mobile:13.69px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggkPWj5ZGpW_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gkPWj5ZGpW"
      >.gkPWj5ZGpW {

}
.gkPWj5ZGpW p {

}</style>
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 5 - 30.4px);--minw-tablet:calc(100% / 5 - 30.4px);--minw-mobile:calc(100% / 2.25 - 11.666666666666666px);--maxw:calc(100% / 5 - 30.4px);--maxw-tablet:calc(100% / 5 - 30.4px);--maxw-mobile:calc(100% / 2.25 - 11.666666666666666px);--animation:[object Object];--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gtbAeiqVQP"
    >
      <div
    
    role="presentation"
    class="gp-group/image g-_Ublz4t3"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_432750572815254551-2dc67da0-29e4-4762-8735-3fc6f15d1a15_b5a2cb5d-e5d7-454e-b7f2-08094093aafe.png" | file_url }}" width="589" height="541" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:589/541;--aspect-tablet:589/541;--aspect-mobile:589/541;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_432750572815254551-2dc67da0-29e4-4762-8735-3fc6f15d1a15_b5a2cb5d-e5d7-454e-b7f2-08094093aafe.png" | file_url }}" data-srcset="{{ 'gempages_432750572815254551-2dc67da0-29e4-4762-8735-3fc6f15d1a15_b5a2cb5d-e5d7-454e-b7f2-08094093aafe.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_432750572815254551-2dc67da0-29e4-4762-8735-3fc6f15d1a15_b5a2cb5d-e5d7-454e-b7f2-08094093aafe.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_432750572815254551-2dc67da0-29e4-4762-8735-3fc6f15d1a15_b5a2cb5d-e5d7-454e-b7f2-08094093aafe.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="589" height="541" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:589/541;--aspect-tablet:589/541;--aspect-mobile:589/541;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-g-_Ublz4t3"
      >.g-_Ublz4t3 {

}
.g-_Ublz4t3 > figure > img {

}</style>
    
    <div
      parentTag="CarouselItem"
        class="gZU07mHp1w "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:20px;--mt-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:500;--ls:0px;--lh:148%;--size:18px;--size-tablet:16px;--size-mobile:13.69px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZU07mHp1w_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gZU07mHp1w"
      >.gZU07mHp1w {

}
.gZU07mHp1w p {

}</style>
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 5 - 30.4px);--minw-tablet:calc(100% / 5 - 30.4px);--minw-mobile:calc(100% / 2.25 - 11.666666666666666px);--maxw:calc(100% / 5 - 30.4px);--maxw-tablet:calc(100% / 5 - 30.4px);--maxw-mobile:calc(100% / 2.25 - 11.666666666666666px);--animation:[object Object];--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gxjNr7yIw7"
    >
      <div
    
    role="presentation"
    class="gp-group/image goyBj6K5C1"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_432750572815254551-b9d99001-2d02-42c5-ae5e-6dff5a0f81df.png" | file_url }}" width="589" height="541" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:589/541;--aspect-tablet:589/541;--aspect-mobile:589/541;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_432750572815254551-b9d99001-2d02-42c5-ae5e-6dff5a0f81df.png" | file_url }}" data-srcset="{{ 'gempages_432750572815254551-b9d99001-2d02-42c5-ae5e-6dff5a0f81df.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_432750572815254551-b9d99001-2d02-42c5-ae5e-6dff5a0f81df.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_432750572815254551-b9d99001-2d02-42c5-ae5e-6dff5a0f81df.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="589" height="541" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:589/541;--aspect-tablet:589/541;--aspect-mobile:589/541;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-goyBj6K5C1"
      >.goyBj6K5C1 {

}
.goyBj6K5C1 > figure > img {

}</style>
    
    <div
      parentTag="CarouselItem"
        class="gMfhdClzIX "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:20px;--mt-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:500;--ls:0px;--lh:148%;--size:18px;--size-tablet:16px;--size-mobile:13.69px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMfhdClzIX_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gMfhdClzIX"
      >.gMfhdClzIX {

}
.gMfhdClzIX p {

}</style>
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 5 - 30.4px);--minw-tablet:calc(100% / 5 - 30.4px);--minw-mobile:calc(100% / 2.25 - 11.666666666666666px);--maxw:calc(100% / 5 - 30.4px);--maxw-tablet:calc(100% / 5 - 30.4px);--maxw-mobile:calc(100% / 2.25 - 11.666666666666666px);--animation:[object Object];--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gvZUzUxqsk"
    >
      <div
    
    role="presentation"
    class="gp-group/image gzybP8Y7fZ"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_432750572815254551-c94735be-8732-4d7a-84c2-b70ea2b4e4b6_ded23801-46d6-4ec7-85de-66d8ecbc9c2d.png" | file_url }}" width="589" height="541" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:589/541;--aspect-tablet:589/541;--aspect-mobile:589/541;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_432750572815254551-c94735be-8732-4d7a-84c2-b70ea2b4e4b6_ded23801-46d6-4ec7-85de-66d8ecbc9c2d.png" | file_url }}" data-srcset="{{ 'gempages_432750572815254551-c94735be-8732-4d7a-84c2-b70ea2b4e4b6_ded23801-46d6-4ec7-85de-66d8ecbc9c2d.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_432750572815254551-c94735be-8732-4d7a-84c2-b70ea2b4e4b6_ded23801-46d6-4ec7-85de-66d8ecbc9c2d.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_432750572815254551-c94735be-8732-4d7a-84c2-b70ea2b4e4b6_ded23801-46d6-4ec7-85de-66d8ecbc9c2d.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="589" height="541" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:589/541;--aspect-tablet:589/541;--aspect-mobile:589/541;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gzybP8Y7fZ"
      >.gzybP8Y7fZ {

}
.gzybP8Y7fZ > figure > img {

}</style>
    
    <div
      parentTag="CarouselItem"
        class="gwrgZpbhKg "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:20px;--mt-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:500;--ls:0px;--lh:148%;--size:18px;--size-tablet:16px;--size-mobile:13.69px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwrgZpbhKg_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gwrgZpbhKg"
      >.gwrgZpbhKg {

}
.gwrgZpbhKg p {

}</style>
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 5 - 30.4px);--minw-tablet:calc(100% / 5 - 30.4px);--minw-mobile:calc(100% / 2.25 - 11.666666666666666px);--maxw:calc(100% / 5 - 30.4px);--maxw-tablet:calc(100% / 5 - 30.4px);--maxw-mobile:calc(100% / 2.25 - 11.666666666666666px);--b:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gwkKpZ1MGR"
    >
      <div
    
    role="presentation"
    class="gp-group/image gkZhTxIbLx"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_432750572815254551-75f94b0e-c9be-4bee-946a-4ea18f40421b.png" | file_url }}" width="590" height="541" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:590/541;--aspect-tablet:590/541;--aspect-mobile:590/541;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_432750572815254551-75f94b0e-c9be-4bee-946a-4ea18f40421b.png" | file_url }}" data-srcset="{{ 'gempages_432750572815254551-75f94b0e-c9be-4bee-946a-4ea18f40421b.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_432750572815254551-75f94b0e-c9be-4bee-946a-4ea18f40421b.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_432750572815254551-75f94b0e-c9be-4bee-946a-4ea18f40421b.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="590" height="541" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:590/541;--aspect-tablet:590/541;--aspect-mobile:590/541;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gkZhTxIbLx"
      >.gkZhTxIbLx {

}
.gkZhTxIbLx > figure > img {

}</style>
    
    <div
      parentTag="CarouselItem"
        class="gfGPReaPLl "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:20px;--mt-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:500;--ls:0px;--lh:148%;--size:18px;--size-tablet:16px;--size-mobile:13.69px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggfGPReaPLl_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gfGPReaPLl"
      >.gfGPReaPLl {

}
.gfGPReaPLl p {

}</style>
    
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-carousel-action-next gem-slider-next gfwflsu3P4-{{section.id}} gp-carousel-arrow-gfwflsu3P4 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:none;--d-tablet:none;--d-mobile:none;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gfwflsu3P4 {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gfwflsu3P4::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gfwflsu3P4 {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gfwflsu3P4::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gfwflsu3P4 {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gfwflsu3P4::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gfwflsu3P4-{{section.id}} gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none"
 ></div>
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload != "true" %}class="gps-link" type="text/disabled-css"{% endif %}></style>

{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-516835929734775883 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/mybestpractice/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=516835886348895112&sectionId=516835929734775883)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gg00BqwyQ3l_text","label":"gg00BqwyQ3l_text","default":"What's Included"},{"type":"html","id":"ggkPWj5ZGpW_text","label":"ggkPWj5ZGpW_text","default":"<p>Storage</p>"},{"type":"html","id":"ggZU07mHp1w_text","label":"ggZU07mHp1w_text","default":"<p>10.5 Fry Pan</p>"},{"type":"html","id":"ggMfhdClzIX_text","label":"ggMfhdClzIX_text","default":"<p>3 qt Sauce Pan</p>"},{"type":"html","id":"ggwrgZpbhKg_text","label":"ggwrgZpbhKg_text","default":"<p>4.5 qt Sauté Pan</p>"},{"type":"html","id":"ggfGPReaPLl_text","label":"ggfGPReaPLl_text","default":"<p>6.5 qt Dutch Oven</p>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
