

<link {% if section.settings.section_preload == "true" %} href="{{ 'gp-section-516835929449563211.css' | asset_url }}" {% else %} class="gps-link" delay="{{ 'gp-section-516835929449563211.css' | asset_url }}" {% endif %} rel="stylesheet" type="text/css" media="all">

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gxpH3raynf"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--pt:54px;--pl:26px;--pb:92px;--pr:26px;--pt-mobile:24px;--pl-mobile:26px;--pb-mobile:39px;--pr-mobile:26px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxpH3raynf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqzsq3WX9I gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gZ_2rR9elN"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mr:auto;--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, auto);--w:1135px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZ_2rR9elN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNix92lvlk gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gQbkc9mUi6 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mt-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-heading, heading);--weight:700;--ls:0px;--lh:148%;--size:40px;--size-tablet:38px;--size-mobile:24px;--c:#000000;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQbkc9mUi6_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="g6Zlv1SqqB"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:48px;--mt-mobile:26px;--cg:46px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6Zlv1SqqB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:space-between"
      class="g5Dx8Jvuod gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gPxMff_Lb_"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_432750572815254551-04094c14-dc09-47cc-89f0-6fe06fee4784.png" | file_url }}" width="546" height="571" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:546/571;--aspect-tablet:546/571;--aspect-mobile:546/571;--objf:cover;--w:545px;--w-tablet:545px;--w-mobile:545px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_432750572815254551-04094c14-dc09-47cc-89f0-6fe06fee4784.png" | file_url }}" data-srcset="{{ 'gempages_432750572815254551-04094c14-dc09-47cc-89f0-6fe06fee4784.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_432750572815254551-04094c14-dc09-47cc-89f0-6fe06fee4784.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_432750572815254551-04094c14-dc09-47cc-89f0-6fe06fee4784.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="546" height="571" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:546/571;--aspect-tablet:546/571;--aspect-mobile:546/571;--objf:cover;--w:545px;--w-tablet:545px;--w-mobile:545px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gPxMff_Lb_"
      >.gPxMff_Lb_ {

}
.gPxMff_Lb_ > figure > img {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:space-between"
      class="g-Ugs0hknn gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gSZ5n97Bl_"
        style="--animation:[object Object];--b:solid;--bc:#000000;--bw:1.5px 1.5px 1.5px 1.5px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:16px;--pl:16px;--pb:16px;--pr:32px;--mt-mobile:32px;--mb-mobile:0px;--pt-mobile:12px;--pl-mobile:10px;--pb-mobile:14px;--pr-mobile:9px;--cg:12px;--cg-mobile:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSZ5n97Bl_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyyUfY212r gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:3px;--mb:0px;--mt-mobile:0px;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gfRPQHWmuA"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:35px;--w-mobile:22px;--h:35px;--h-mobile:22px;--minw:35px;--minw-mobile:22px;--height-desktop:35px;--height-tablet:35px;--height-mobile:22px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="513813499508425624" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
<circle cx="18.3646" cy="17.8925" r="17.4662" fill="black"/>
<path d="M16.8123 14.8186L13.3723 17.3786V14.0586L17.2923 11.1186H20.0923V25.3586H16.8123V14.8186Z" fill="white"/>
</svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRIObmFfg- gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gPF2JkarzP "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:3px;--pt:0px;--mt-mobile:2px;--pt-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-heading, heading);--weight:700;--ls:0px;--lh:148%;--size:24px;--size-tablet:28px;--size-mobile:16px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPF2JkarzP_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gqHA4IxZJ8 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:11px;--pr:0px;--mt-mobile:5px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:500;--ls:0px;--lh:148%;--size:18px;--size-tablet:16px;--size-mobile:12px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqHA4IxZJ8_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gqHA4IxZJ8"
      >.gqHA4IxZJ8 {

}
.gqHA4IxZJ8 p {

}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gXfhcQgAZJ"
        style="--animation:[object Object];--b:solid;--bc:#000000;--bw:1.5px 1.5px 1.5px 1.5px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:25px;--pt:16px;--pl:16px;--pb:16px;--pr:32px;--mt-mobile:25px;--mb-mobile:0px;--pt-mobile:12px;--pl-mobile:10px;--pb-mobile:14px;--pr-mobile:9px;--cg:12px;--cg-mobile:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXfhcQgAZJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMyEiY1FR0 gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:3px;--mb:0px;--mt-mobile:0px;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gGmbxdOakp"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:35px;--w-mobile:22px;--h:35px;--h-mobile:22px;--minw:35px;--minw-mobile:22px;--height-desktop:35px;--height-tablet:35px;--height-mobile:22px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="513813510312952728" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
<circle cx="18.3646" cy="18.1339" r="17.4662" fill="black"/>
<path d="M23.1066 15.6201C23.1066 17.7801 21.9866 19.1401 19.9866 20.4201L15.4666 23.0601H22.7866V25.6001H12.4466V22.4601L18.2266 18.6801C19.2066 17.9801 20.0066 17.1401 19.9866 15.8201C19.9866 14.4801 19.0866 13.5601 17.8466 13.5601C16.6266 13.5601 15.5866 14.7401 15.3866 16.3401L12.3866 15.7601C12.7666 12.9201 15.0666 10.8601 17.8866 10.8601C20.8466 10.8601 23.1066 12.8401 23.1066 15.6201Z" fill="white"/>
</svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gELSa1dyNa gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g--RpN9DKZ "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:3px;--pt:0px;--mt-mobile:2px;--pt-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-heading, heading);--weight:700;--ls:0px;--lh:148%;--size:24px;--size-tablet:28px;--size-mobile:16px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg--RpN9DKZ_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gMl7LYYOAm "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:11px;--pr:0px;--mt-mobile:5px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:500;--ls:0px;--lh:148%;--size:18px;--size-tablet:16px;--size-mobile:12px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMl7LYYOAm_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gMl7LYYOAm"
      >.gMl7LYYOAm {

}
.gMl7LYYOAm p {

}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gKgFYg3DFt"
        style="--animation:[object Object];--b:solid;--bc:#000000;--bw:1.5px 1.5px 1.5px 1.5px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:25px;--pt:16px;--pl:16px;--pb:16px;--pr:32px;--mt-mobile:25px;--mb-mobile:0px;--pt-mobile:12px;--pl-mobile:10px;--pb-mobile:14px;--pr-mobile:9px;--cg:12px;--cg-mobile:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKgFYg3DFt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIHi6Yym7I gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:3px;--mb:0px;--mt-mobile:0px;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] g_sDuZdfEX"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:35px;--w-mobile:22px;--h:35px;--h-mobile:22px;--minw:35px;--minw-mobile:22px;--height-desktop:35px;--height-tablet:35px;--height-mobile:22px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="513813520916153240" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
<circle cx="18.3646" cy="17.9637" r="17.4662" fill="black"/>
<path d="M22.1876 11.1899V14.4299L18.3076 17.2499C21.0876 17.5099 22.6476 19.1099 22.6476 21.3499C22.6276 24.0299 20.3076 25.9299 17.0876 25.9299C13.8876 25.9299 11.6476 23.7499 11.4276 20.7499L14.3676 20.2899C14.5676 21.9899 15.6076 23.2299 17.0276 23.2299C18.4476 23.2299 19.4676 22.2299 19.4676 20.8299C19.4676 19.4099 18.4276 18.3699 17.0076 18.3699C16.6676 18.3699 16.1876 18.4499 15.8876 18.5699L15.1676 16.6899L19.9076 13.7299H12.1476V11.1899H22.1876Z" fill="white"/>
</svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gosGxcH9_l gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gMkgcHYRhn "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:3px;--pt:0px;--mt-mobile:2px;--pt-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-heading, heading);--weight:700;--ls:0px;--lh:148%;--size:24px;--size-tablet:28px;--size-mobile:16px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMkgcHYRhn_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gI9oZBSm0I "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:11px;--pr:0px;--mt-mobile:5px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:500;--ls:0px;--lh:148%;--size:18px;--size-tablet:16px;--size-mobile:12px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggI9oZBSm0I_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gI9oZBSm0I"
      >.gI9oZBSm0I {

}
.gI9oZBSm0I p {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload != "true" %}class="gps-link" type="text/disabled-css"{% endif %}></style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-516835929449563211 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/mybestpractice/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=516835886348895112&sectionId=516835929449563211)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggQbkc9mUi6_text","label":"ggQbkc9mUi6_text","default":"REASONS YOU SHOULD CHOOSE GEM KITCHEN"},{"type":"html","id":"ggPF2JkarzP_text","label":"ggPF2JkarzP_text","default":"Enhanced Cooking Efficiency"},{"type":"html","id":"ggqHA4IxZJ8_text","label":"ggqHA4IxZJ8_text","default":"<p>Gem Kitchen Cookware's advanced non-stick technology reduces the need for excess oil or butter, facilitating healthier cooking practices.</p>"},{"type":"html","id":"gg--RpN9DKZ_text","label":"gg--RpN9DKZ_text","default":"Effortless Cleaning"},{"type":"html","id":"ggMl7LYYOAm_text","label":"ggMl7LYYOAm_text","default":"<p>With its non-stick surface, Gem Kitchen Cookware requires minimal scrubbing, saving you time and effort in the kitchen.</p>"},{"type":"html","id":"ggMkgcHYRhn_text","label":"ggMkgcHYRhn_text","default":"Durability and Longevity"},{"type":"html","id":"ggI9oZBSm0I_text","label":"ggI9oZBSm0I_text","default":"<p>Crafted from high-quality materials, Gem Kitchen Cookware is built to withstand daily use and maintain its performance over time.</p>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
