

<link {% if section.settings.section_preload == "true" %} href="{{ 'gp-section-516835930154205990.css' | asset_url }}" {% else %} class="gps-link" delay="{{ 'gp-section-516835930154205990.css' | asset_url }}" {% endif %} rel="stylesheet" type="text/css" media="all">

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="ga62vor8GO"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:0px;--pt:80px;--pl:0px;--pb:86px;--pr:0px;--pt-mobile:37px;--pl-mobile:13px;--pb-mobile:21px;--pr-mobile:14px;--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:80px;--pl-tablet:26px;--pb-tablet:86px;--pr-tablet:26px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#FFFDFA;--bgc-mobile:#00000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="ga62vor8GO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbrhvLoU77 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gwvt2eREIA"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:auto;--pb-mobile:0px;--pr-mobile:auto;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:1010px;--w-tablet:770px;--w-mobile:var(--g-ct-w, 100%);--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwvt2eREIA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRaQxGesBT gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gx9tdczqHO "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:62px;--mt-mobile:0px;--mb-mobile:39px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-heading, heading);--weight:700;--ls:0px;--lh:148%;--size:40px;--size-tablet:38px;--size-mobile:24px;--c:#000000;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggx9tdczqHO_text | downcase }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="glNnxkbv-l"
        style="--animation:[object Object];--b:solid;--bc:#E8DACA;--bw:0px 0px 2px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--pc:start;--pc-mobile:end;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:1170%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glNnxkbv-l gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center;--o:1"
      class="gt9av4Hb4W gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gRXlr9Yqj2"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--pt:23px;--pb:29px;--ml-mobile:auto;--pt-mobile:14px;--pl-mobile:0px;--pb-mobile:7px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:298px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:109px;--bgc:rgba(253, 234, 211, 0.64);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRXlr9Yqj2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-s1ctTlhV gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gBH_QC5Aio "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--ff:var(--g-font-Zen-Dots, 'Zen Dots'), var(--g-font-heading, heading);--weight:700;--ls:0px;--lh:111%;--size:32px;--size-tablet:26px;--size-mobile:15px;--c:#0C0C0C;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBH_QC5Aio_text | downcase }}</h3>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center;--o:2"
      class="gFnAl6Gg8o gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gMLZBt6ZHc "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:12px;--pt:0px;--pl:0px;--pr:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:331px;--w-tablet:331px;--w-mobile:124px;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:700;--ls:0px;--lh:120%;--size:20px;--size-tablet:16px;--size-mobile:12px;--c:rgba(0, 0, 0, 0.42);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:0px;overflow:hidden"
        >{{ section.settings.ggMLZBt6ZHc_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gMLZBt6ZHc"
      >.gMLZBt6ZHc {

}
.gMLZBt6ZHc p {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center;--o:0"
      class="gAwpchO2lV gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gljs_ebmzQ"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--pc:start;--gtc:minmax(0, 12fr);--w:381px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:381px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gljs_ebmzQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gSUDKaX5CR gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g9fAUcFAtm"
        style="--animation:[object Object];--b:solid;--bc:#E8DACA;--bw:0px 0px 2px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:1170%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9fAUcFAtm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gBWCJ7_aRX gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gVKB9NohX9 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:25px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:16px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:381px;--w-tablet:381px;--w-mobile:381px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:700;--ls:normal;--lh:103%;--size:18px;--size-tablet:16px;--size-mobile:10.93px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVKB9NohX9_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gVKB9NohX9"
      >.gVKB9NohX9 {

}
.gVKB9NohX9 p {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gRCQQtpOH8 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gSKwC1xc9f"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:9px;--pb:9px;--pt-mobile:5px;--pb-mobile:5px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:298px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:109px;--bgc:rgba(253, 234, 211, 0.64);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSKwC1xc9f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gd5gdzWjtZ gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gUUIlLsw6i"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:37px;--w-mobile:23px;--h:37px;--h-mobile:23px;--minw:37px;--minw-mobile:23px;--height-desktop:37px;--height-tablet:37px;--height-mobile:23px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="513883533882688408" xmlns="http://www.w3.org/2000/svg" width="38" height="39" viewBox="0 0 38 39" fill="none">
<circle cx="19.1504" cy="19.4937" r="18.5879" fill="#C6DE58"/>
<path d="M11.3594 19.9354L16.2948 24.8695L27.0466 14.1177" stroke="black" stroke-width="3.52923" stroke-linecap="round"/>
</svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gYLj5tVAF7 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g2_KB8Dwy9"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:331px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:124px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2_KB8Dwy9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-hZU9_inF gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--ta:center"
      class="gp-leading-[0] g0ECqvDFJV"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:37px;--w-mobile:23px;--h:37px;--h-mobile:23px;--minw:37px;--minw-mobile:23px;--height-desktop:37px;--height-tablet:37px;--height-mobile:23px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="513883544703992728" xmlns="http://www.w3.org/2000/svg" width="39" height="38" viewBox="0 0 39 38" fill="none">
<circle cx="19.4941" cy="19.2983" r="18.5879" fill="#DDDDDD"/>
<path d="M14.1172 24.6742L24.869 13.9224" stroke="black" stroke-width="3.52923" stroke-linecap="round"/>
<path d="M24.8711 24.6742L14.1193 13.9224" stroke="black" stroke-width="3.52923" stroke-linecap="round"/>
</svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gpmHW278U_"
        style="--animation:[object Object];--b:solid;--bc:#E8DACA;--bw:0px 0px 2px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:1170%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpmHW278U_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ghoOF8whw4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gZe9re3drw "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:25px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:16px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:381px;--w-tablet:381px;--w-mobile:381px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:700;--ls:normal;--lh:103%;--size:18px;--size-tablet:16px;--size-mobile:10.93px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZe9re3drw_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gZe9re3drw"
      >.gZe9re3drw {

}
.gZe9re3drw p {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gPX9UZIBUv gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gzejKkkheZ"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:9px;--pb:9px;--pt-mobile:5px;--pb-mobile:5px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:298px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:109px;--bgc:rgba(253, 234, 211, 0.64);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzejKkkheZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gANaJhRfrR gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gYkwC0HzHA"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:37px;--w-mobile:23px;--h:37px;--h-mobile:23px;--minw:37px;--minw-mobile:23px;--height-desktop:37px;--height-tablet:37px;--height-mobile:23px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="513883533882688408" xmlns="http://www.w3.org/2000/svg" width="38" height="39" viewBox="0 0 38 39" fill="none">
<circle cx="19.1504" cy="19.4937" r="18.5879" fill="#C6DE58"/>
<path d="M11.3594 19.9354L16.2948 24.8695L27.0466 14.1177" stroke="black" stroke-width="3.52923" stroke-linecap="round"/>
</svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gMKy5Zhij2 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g3CjUXLQos"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:331px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:124px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3CjUXLQos gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gD1ChFWD79 gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--ta:center"
      class="gp-leading-[0] gybr3P5_Ab"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:37px;--w-mobile:23px;--h:37px;--h-mobile:23px;--minw:37px;--minw-mobile:23px;--height-desktop:37px;--height-tablet:37px;--height-mobile:23px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="514671596426757016" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
<circle cx="19.0371" cy="18.936" r="18.5879" fill="#DDDDDD"/>
<path d="M11.2461 19.3778L16.1815 24.3119L26.9333 13.5601" stroke="black" stroke-width="3.52923" stroke-linecap="round"/>
</svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g8_KAFcDLS"
        style="--animation:[object Object];--b:solid;--bc:#E8DACA;--bw:0px 0px 2px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:1170%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8_KAFcDLS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g44StGg6vd gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gwQam8IKKR "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:25px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:16px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:381px;--w-tablet:381px;--w-mobile:381px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:700;--ls:normal;--lh:103%;--size:18px;--size-tablet:16px;--size-mobile:10.93px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwQam8IKKR_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gwQam8IKKR"
      >.gwQam8IKKR {

}
.gwQam8IKKR p {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="guZidJrnRe gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gWG-EaXTg2"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:9px;--pb:9px;--pt-mobile:5px;--pb-mobile:5px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:298px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:109px;--bgc:rgba(253, 234, 211, 0.64);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWG-EaXTg2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMerIXk9NA gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gkU5-yckjY"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:37px;--w-mobile:23px;--h:37px;--h-mobile:23px;--minw:37px;--minw-mobile:23px;--height-desktop:37px;--height-tablet:37px;--height-mobile:23px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="513883533882688408" xmlns="http://www.w3.org/2000/svg" width="38" height="39" viewBox="0 0 38 39" fill="none">
<circle cx="19.1504" cy="19.4937" r="18.5879" fill="#C6DE58"/>
<path d="M11.3594 19.9354L16.2948 24.8695L27.0466 14.1177" stroke="black" stroke-width="3.52923" stroke-linecap="round"/>
</svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gB-7RVbsrV gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gyauzVeLQd"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:331px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:124px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyauzVeLQd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxPhLD5fZh gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--ta:center"
      class="gp-leading-[0] gYvWc4CRWo"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:37px;--w-mobile:23px;--h:37px;--h-mobile:23px;--minw:37px;--minw-mobile:23px;--height-desktop:37px;--height-tablet:37px;--height-mobile:23px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="513883544703992728" xmlns="http://www.w3.org/2000/svg" width="39" height="38" viewBox="0 0 39 38" fill="none">
<circle cx="19.4941" cy="19.2983" r="18.5879" fill="#DDDDDD"/>
<path d="M14.1172 24.6742L24.869 13.9224" stroke="black" stroke-width="3.52923" stroke-linecap="round"/>
<path d="M24.8711 24.6742L14.1193 13.9224" stroke="black" stroke-width="3.52923" stroke-linecap="round"/>
</svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g-MQXJkxcE"
        style="--animation:[object Object];--b:solid;--bc:#E8DACA;--bw:0px 0px 2px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--pc:start;--pc-mobile:end;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:1170%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-MQXJkxcE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gCyj409aR1 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gGvx7Y05De "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:25px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:16px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:381px;--w-tablet:381px;--w-mobile:381px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:700;--ls:normal;--lh:103%;--size:18px;--size-tablet:16px;--size-mobile:10.93px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGvx7Y05De_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gGvx7Y05De"
      >.gGvx7Y05De {

}
.gGvx7Y05De p {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gBIrhQj3lG gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="grd8PbBZjN"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:9px;--pb:9px;--pt-mobile:5px;--pb-mobile:5px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:298px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:109px;--bgc:rgba(253, 234, 211, 0.64);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grd8PbBZjN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gT_1WdtP_J gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] g4KmibE5d0"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:37px;--w-mobile:23px;--h:37px;--h-mobile:23px;--minw:37px;--minw-mobile:23px;--height-desktop:37px;--height-tablet:37px;--height-mobile:23px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="513883533882688408" xmlns="http://www.w3.org/2000/svg" width="38" height="39" viewBox="0 0 38 39" fill="none">
<circle cx="19.1504" cy="19.4937" r="18.5879" fill="#C6DE58"/>
<path d="M11.3594 19.9354L16.2948 24.8695L27.0466 14.1177" stroke="black" stroke-width="3.52923" stroke-linecap="round"/>
</svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4Nhgbt67H gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gSosP5fAWD"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:331px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:124px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSosP5fAWD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYHxH0BJMH gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--ta:center"
      class="gp-leading-[0] gdGlTzTLIg"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:37px;--w-mobile:23px;--h:37px;--h-mobile:23px;--minw:37px;--minw-mobile:23px;--height-desktop:37px;--height-tablet:37px;--height-mobile:23px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="514671596426757016" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
<circle cx="19.0371" cy="18.936" r="18.5879" fill="#DDDDDD"/>
<path d="M11.2461 19.3778L16.1815 24.3119L26.9333 13.5601" stroke="black" stroke-width="3.52923" stroke-linecap="round"/>
</svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gv_kPz74aB"
        style="--animation:[object Object];--b:solid;--bc:#E8DACA;--bw:0px 0px 2px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--pc:start;--pc-mobile:end;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:1170%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gv_kPz74aB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gnAz-Cs7r6 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gYITBc2vY3 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:25px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:13px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:381px;--w-tablet:381px;--w-mobile:1135px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-body, body);--weight:700;--ls:normal;--lh:103%;--size:18px;--size-tablet:16px;--size-mobile:10.93px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYITBc2vY3_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gYITBc2vY3"
      >.gYITBc2vY3 {

}
.gYITBc2vY3 p {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="giNeUcC6Wi gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gu6SdthqLV"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:9px;--pb:9px;--pt-mobile:5px;--pb-mobile:5px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:298px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:109px;--bgc:rgba(253, 234, 211, 0.64);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gu6SdthqLV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gc3eAQwdXh gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-leading-[0] gTqF4tu_bg"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:37px;--w-mobile:23px;--h:37px;--h-mobile:23px;--minw:37px;--minw-mobile:23px;--height-desktop:37px;--height-tablet:37px;--height-mobile:23px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="513883533882688408" xmlns="http://www.w3.org/2000/svg" width="38" height="39" viewBox="0 0 38 39" fill="none">
<circle cx="19.1504" cy="19.4937" r="18.5879" fill="#C6DE58"/>
<path d="M11.3594 19.9354L16.2948 24.8695L27.0466 14.1177" stroke="black" stroke-width="3.52923" stroke-linecap="round"/>
</svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ggfxqxw5wW gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g62DRNyOUn"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:331px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:124px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g62DRNyOUn gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5xZNwZ6Xq gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--ta:center"
      class="gp-leading-[0] g5wpI2F6ZT"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:37px;--w-mobile:23px;--h:37px;--h-mobile:23px;--minw:37px;--minw-mobile:23px;--height-desktop:37px;--height-tablet:37px;--height-mobile:23px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="513883544703992728" xmlns="http://www.w3.org/2000/svg" width="39" height="38" viewBox="0 0 39 38" fill="none">
<circle cx="19.4941" cy="19.2983" r="18.5879" fill="#DDDDDD"/>
<path d="M14.1172 24.6742L24.869 13.9224" stroke="black" stroke-width="3.52923" stroke-linecap="round"/>
<path d="M24.8711 24.6742L14.1193 13.9224" stroke="black" stroke-width="3.52923" stroke-linecap="round"/>
</svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gcErZnIEMG"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--pc:start;--pc-mobile:end;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcErZnIEMG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gB9EKhdHij gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g7AcUt5hgg"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:381px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:381px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7AcUt5hgg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="g0mAHSBCYa gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gB_q-UB7Ph gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g5WrjHPwhZ"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--mr:auto;--pt:37px;--pb:37px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:23px;--pb-mobile:23px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:298px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:109px;--bgc:rgba(253, 234, 211, 0.64);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5WrjHPwhZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gL7PFz7VDV gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g3hqRzKd-t gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="ga9Ki8qH2t"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:331px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:124px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ga9Ki8qH2t gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="g2i0X0KlcZ gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload != "true" %}class="gps-link" type="text/disabled-css"{% endif %}>@font-face {
  font-family: 'Zen Dots';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/zendots/v12/XRXX3ICfm00IGoesQdaDRsg.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Zen Dots';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/zendots/v12/XRXX3ICfm00IGoesQdaNRs7nczIHNHI.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Zen Dots';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/zendots/v12/XRXX3ICfm00IGoesQdaDRs7nczIH.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-516835930154205990 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/mybestpractice/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=516835886348895112&sectionId=516835930154205990)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggx9tdczqHO_text","label":"ggx9tdczqHO_text","default":"How We Compare"},{"type":"html","id":"ggBH_QC5Aio_text","label":"ggBH_QC5Aio_text","default":"gem kitchen"},{"type":"html","id":"ggMLZBt6ZHc_text","label":"ggMLZBt6ZHc_text","default":"<p>Other Non Stick</p><p>Teflon®&nbsp;</p>"},{"type":"html","id":"ggVKB9NohX9_text","label":"ggVKB9NohX9_text","default":"<p>Non-Toxic</p>"},{"type":"html","id":"ggZe9re3drw_text","label":"ggZe9re3drw_text","default":"<p>Non-Stick</p>"},{"type":"html","id":"ggwQam8IKKR_text","label":"ggwQam8IKKR_text","default":"<p>Easy Cleaning</p>"},{"type":"html","id":"ggGvx7Y05De_text","label":"ggGvx7Y05De_text","default":"<p>Heat Conductivity</p>"},{"type":"html","id":"ggYITBc2vY3_text","label":"ggYITBc2vY3_text","default":"<p>Versatility</p>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
