

<link {% if section.settings.section_preload == "true" %} href="{{ 'gp-section-516835928979801248.css' | asset_url }}" {% else %} class="gps-link" delay="{{ 'gp-section-516835928979801248.css' | asset_url }}" {% endif %} rel="stylesheet" type="text/css" media="all">

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gPyVZ2vghT"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:120px;--pl:0px;--pb:54px;--pr:0px;--pt-mobile:49px;--pl-mobile:30px;--pb-mobile:25px;--pr-mobile:30px;--pt-tablet:120px;--pl-tablet:26px;--pb-tablet:54px;--pr-tablet:26px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPyVZ2vghT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gs51ZuzxFS gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gwoZLfABIm"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:center;--gtc:minmax(0, 12fr);--w:1135px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwoZLfABIm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gI8KzdKCNM gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gHM_sjQcf8 "
        style="--ta:center;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mt-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--pl-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:958px;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Subjectivity, 'Subjectivity'), var(--g-font-heading, heading);--weight:700;--ls:0px;--lh:148%;--size:40px;--size-tablet:38px;--size-mobile:20px;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHM_sjQcf8_text }}</h2>
      </div>
    </div><div
    
    role="presentation"
    class="gp-group/image gcjSJafT7-"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:22px;--mt-mobile:25px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_432750572815254551-903626cc-1411-4f86-9178-9d94052de650.png" | file_url }}" width="138" height="138" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:138/138;--aspect-tablet:138/138;--aspect-mobile:138/138;--objf:cover;--w-mobile:106px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_432750572815254551-903626cc-1411-4f86-9178-9d94052de650.png" | file_url }}" data-srcset="{{ 'gempages_432750572815254551-903626cc-1411-4f86-9178-9d94052de650.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_432750572815254551-903626cc-1411-4f86-9178-9d94052de650.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_432750572815254551-903626cc-1411-4f86-9178-9d94052de650.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="138" height="138" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:138/138;--aspect-tablet:138/138;--aspect-mobile:138/138;--objf:cover;--w-mobile:106px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gcjSJafT7-"
      >.gcjSJafT7- {

}
.gcjSJafT7- > figure > img {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload != "true" %}class="gps-link" type="text/disabled-css"{% endif %}></style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-516835928979801248 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/mybestpractice/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=516835886348895112&sectionId=516835928979801248)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggHM_sjQcf8_text","label":"ggHM_sjQcf8_text","default":"Slick non-stick pans: less oil, easy clean. Enjoy hassle-free cooking and effortless cleanup with our innovative design."}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
